<a href="https://colab.research.google.com/github/sabithasn/ABsage2/blob/master/Pro_Python_Training_Day_7_07_Jan_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas** is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

Pandas is used in a wide range of fields including academic and commercial domains including finance, economics, Statistics, analytics, etc.

**What Can Pandas Do?**

Pandas gives you answers about the data. Like:

Is there a correlation between two or more columns?

What is average value?

Max value?

Min value?

## NumPy vs Pandas

**NumPy :** If you want to do any array based or matrix based calculation and data analysis

You can do complex calculations very easily 

Example: If you want to add two or more arrays, we can do it directly without the use of loop


**Pandas :** It is the most popular tool for data cleaning and analysis

Pandas adopted many coding styles from NumPy

NumPy best suited for working with homogenous data, while Pandas is helpful in tabular or heterogenous data

NumPy works with arrays while Pandas works with **series** and **dataframe**

**Series** can only contain single list with index, whereas **dataframe** can be made of more than one series or we can say that a dataframe is a collection of series that can be used to analyse the data.

![series n dataframe.png]()

In [ ]:
#To check the version
import pandas as pd
print(pd.__version__)

1.1.5

Creating an empty series

In [ ]:
#import the pandas library and aliasing as pd
import pandas as pd
s = pd.Series()
print(s)

Series([], dtype: float64)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
#Accessing first 7 elements of Series
import pandas as pd
import numpy as np
 
# creating simple array
data = np.array(['w','e','l','c','o','m', 'e','t','e','a','c','h','e','r','s'])
ser = pd.Series(data)  
  
#retrieve the first 7 element
print(ser[:7])

0    w
1    e
2    l
3    c
4    o
5    m
6    e
dtype: object

In [ ]:
#Create a series of first five odd numbers with the index value as o1, o2....
data = pd.Series([1, 3, 5, 7], index=['o1', 'o2', 'o3', 'o4'])
print(data)

o1    1
o2    3
o3    5
o4    7
dtype: int64

In [ ]:
import pandas as pd

mydataset = {'cars': ["BMW", "Volvo", "Ford"], 'Model': [2020, 2019, 2021]}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  Model
0    BMW   2020
1  Volvo   2019
2   Ford   2021

Create a Series from ndarray

If data is an ndarray, then index passed must be of the same length. If no index is passed, then by default index will be range(n) where n is array length, i.e., [0,1,2,3…. range(len(array))-1].

In [ ]:
#import the pandas library and aliasing as pd
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [ ]:
#Example 2 import the pandas library and aliasing as pd
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

Create a Series from dict

A dict can be passed as input and if no index is specified, then the dictionary keys are taken in a sorted order to construct index. If index is passed, the values in data corresponding to the labels in the index will be pulled out.

In [ ]:
#import the pandas library and aliasing as pd
import pandas as pd
import numpy as np
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data)
print(s)

a    0.0
b    1.0
c    2.0
dtype: float64

Create a Series from Scalar

If data is a scalar value, an index must be provided. The value will be repeated to match the length of index

In [ ]:
#import the pandas library and aliasing as pd
import pandas as pd
import numpy as np
s = pd.Series(5, index=[0, 1, 2, 3])
print(s)

0    5
1    5
2    5
3    5
dtype: int64

In [ ]:
import pandas as pd
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])
ds = ds1 + ds2
print("Add two Series:")
print(ds)
print("Subtract two Series:")
ds = ds1 - ds2
print(ds)
print("Multiply two Series:")
ds = ds1 * ds2
print(ds)
print("Divide Series1 by Series2:")
ds = ds1 / ds2
print(ds)

Add two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

Comparing 2 series

In [ ]:
import pandas as pd
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 10])
print("Series1:")
print(ds1)
print("Series2:")
print(ds2)
print("Compare the elements of the said Series:")
print("Equals:")
print(ds1 == ds2)
print("Greater than:")
print(ds1 > ds2)
print("Less than:")
print(ds1 < ds2)

Series1:
0     2
1     4
2     6
3     8
4    10
dtype: int64
Series2:
0     1
1     3
2     5
3     7
4    10
dtype: int64
Compare the elements of the said Series:
Equals:
0    False
1    False
2    False
3    False
4     True
dtype: bool
Greater than:
0     True
1     True
2     True
3     True
4    False
dtype: bool
Less than:
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [ ]:
#To convert the first column of a DataFrame as a Series
import pandas as pd
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
s1 = df.iloc[:,0]
print("\n1st column as a Series:")
print(s1)
print(type(s1))

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

1st column as a Series:
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
exam_data

{'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
 'name': ['Anastasia',
  'Dima',
  'Katherine',
  'James',
  'Emily',
  'Michael',
  'Matthew',
  'Laura',
  'Kevin',
  'Jonas'],
 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
 'score': [12.5, 9, 16.5, nan, 9, 20, 14.5, nan, 8, 19]}

Dataframe

In [ ]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Importing Weather data and do the Data analysis, manipulation and visualisation

In [ ]:
#This is one of the way to upload the dataset
from google.colab import files 

uploaded = files.upload()

In [ ]:
## Reading The data.
import pandas as pd
import numpy as np
df=pd.read_csv("weather.csv")

In [ ]:
df

In [ ]:
#head() tail()
df.head() #5 rows df.head(number of rows)

In [ ]:
df.tail()

In [ ]:
#Checking the no of rows and columns.
df.shape #RCB --> BRC

In [ ]:
#TUPLE () NO OF ROWS 
df.shape[0]

In [ ]:
df.shape[1] #no of col

In [ ]:
#Checking for missing values.
df.isnull()

In [ ]:
#Fetching a column (Status)

#dataframe[col_name]
df['Status']

In [ ]:
df['Status'].value_counts()

In [ ]:
#Fetching more than 1 column.
df[['Status','Day']]

In [ ]:
#Checking for statistical information.
df.describe()

In [ ]:
#df[df['col']condition]

In [ ]:
#Dataframe slicing ex temp > 20.
df[df['Temp']>20]

# TRY IT
Home Assignment

Automobile Dataset : https://drive.google.com/file/d/18aMMwnD9HKXKZKLsPivxZk9g5MOha0wq/view?usp=sharing

In [ ]:
#Question 1: From the above given data set print first and last five rows

#Question 2: From the above given data set Count total cars per company

#Question 3: Consider a dictionary which contains Car company name as a key and Price as its value convert it into a series.

# Solution

1. 


import pandas as pd

df = pd.read_csv("Automobile_data.csv")

df.head(5)

Similarly df.tail(5)


---


2. 


import pandas as pd

df = pd.read_csv("Automobile_data.csv")

df['company'].value_counts()


---


3. 


import pandas as pd

Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}

carPriceDf = pd.DataFrame.from_dict(Car_Price)  carPriceDf